
@{
    ViewBag.Title = "Deactivate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Deactivated</h2>

<div>
    Hope, See You Soon...!!!
    
</div>
<div>
    @Html.ActionLink("Back To Home", "Index", "Home")
</div>