USE [master]
GO
/****** Object:  Database [ELearningManagement]    Script Date: 26-03-2020 18:37:12 ******/
CREATE DATABASE [ELearningManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELearningManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ELearningManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELearningManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ELearningManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELearningManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELearningManagement]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[AddressLine1] [nvarchar](max) NULL,
	[AddressLine2] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[PinCode] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Code] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CourseStatus] [int] NOT NULL,
	[Detail] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Course]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Course](
	[Service] [nvarchar](128) NOT NULL,
	[Course] [nvarchar](128) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Service_Course] PRIMARY KEY CLUSTERED 
(
	[Service] ASC,
	[Course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Code] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Duration] [int] NOT NULL,
	[Amount] [float] NOT NULL,
	[StartDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Services] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NULL,
	[ServiceId] [nvarchar](128) NULL,
	[StartTime] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Service]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Service](
	[Service] [nvarchar](128) NOT NULL,
	[User] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.User_Service] PRIMARY KEY CLUSTERED 
(
	[Service] ASC,
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-03-2020 18:37:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[EmailId] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [int] NOT NULL,
	[Gennder] [int] NOT NULL,
	[ContactNumber] [bigint] NOT NULL,
	[Address] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Role] [int] NOT NULL,
	[UserStatus] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[EmailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Addresses] ON 

INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [City], [State], [Country], [PinCode]) VALUES (1, N'A1', NULL, N'City1', N'State1', N'Country1', 842007)
INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [City], [State], [Country], [PinCode]) VALUES (2, N'as', N'as', N'sd', N'as', N'sd', 85)
INSERT [dbo].[Addresses] ([AddressId], [AddressLine1], [AddressLine2], [City], [State], [Country], [PinCode]) VALUES (3, NULL, NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Addresses] OFF
INSERT [dbo].[Courses] ([Code], [Name], [CourseStatus], [Detail]) VALUES (N'c1', N'C1', 0, NULL)
INSERT [dbo].[Courses] ([Code], [Name], [CourseStatus], [Detail]) VALUES (N'c2', N'C2', 0, NULL)
INSERT [dbo].[Courses] ([Code], [Name], [CourseStatus], [Detail]) VALUES (N'c21', N'c3', 0, NULL)
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Code], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([Code], [Name]) VALUES (2, N'User')
INSERT [dbo].[Roles] ([Code], [Name]) VALUES (3, N'Vendor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[Service_Course] ([Service], [Course], [Status]) VALUES (N'1', N'c1', 1)
INSERT [dbo].[Service_Course] ([Service], [Course], [Status]) VALUES (N'1', N'c2', 1)
INSERT [dbo].[Service_Course] ([Service], [Course], [Status]) VALUES (N'1', N'c23', 0)
INSERT [dbo].[Services] ([Code], [Name], [Duration], [Amount], [StartDate]) VALUES (N'1', N'S1', 6, 123, CAST(N'2020-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Services] ([Code], [Name], [Duration], [Amount], [StartDate]) VALUES (N's2', N'S2', 1, 321, CAST(N'2019-02-03T00:00:00.000' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [ServiceId], [StartTime]) VALUES (N'T1', N'b@b.c', N's2', CAST(N'2019-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [ServiceId], [StartTime]) VALUES (N'T2', N'c@c.c', N's2', CAST(N'2019-08-08T00:00:00.000' AS DateTime))
INSERT [dbo].[User_Service] ([Service], [User]) VALUES (N'1', N'a@a.c')
INSERT [dbo].[User_Service] ([Service], [User]) VALUES (N's2', N'b@b.c')
INSERT [dbo].[User_Service] ([Service], [User]) VALUES (N'1', N'c@c.c')
INSERT [dbo].[Users] ([EmailId], [Name], [Age], [Gennder], [ContactNumber], [Address], [Password], [Role], [UserStatus]) VALUES (N'a@a.c', N'A', 12, 1, 9879879877, 1, N'abc', 1, 1)
INSERT [dbo].[Users] ([EmailId], [Name], [Age], [Gennder], [ContactNumber], [Address], [Password], [Role], [UserStatus]) VALUES (N'b@b.c', N'B', 18, 1, 9879879879, 5, N'abc', 2, 1)
INSERT [dbo].[Users] ([EmailId], [Name], [Age], [Gennder], [ContactNumber], [Address], [Password], [Role], [UserStatus]) VALUES (N'c@c.c', N'C', 21, 0, 9879879874, 1, N'abc', 3, 1)
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Course]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_Course] ON [dbo].[Service_Course]
(
	[Course] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Service]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_Service] ON [dbo].[Service_Course]
(
	[Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceId]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_ServiceId] ON [dbo].[Transactions]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[Transactions]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Service]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_Service] ON [dbo].[User_Service]
(
	[Service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_User] ON [dbo].[User_Service]
(
	[User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_Address] ON [dbo].[Users]
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Role]    Script Date: 26-03-2020 18:37:13 ******/
CREATE NONCLUSTERED INDEX [IX_Role] ON [dbo].[Users]
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((0)) FOR [CourseStatus]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [UserStatus]
GO
ALTER TABLE [dbo].[Service_Course]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_Course_dbo.Courses_Course] FOREIGN KEY([Course])
REFERENCES [dbo].[Courses] ([Code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service_Course] CHECK CONSTRAINT [FK_dbo.Service_Course_dbo.Courses_Course]
GO
ALTER TABLE [dbo].[Service_Course]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Service_Course_dbo.Services_Service] FOREIGN KEY([Service])
REFERENCES [dbo].[Services] ([Code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service_Course] CHECK CONSTRAINT [FK_dbo.Service_Course_dbo.Services_Service]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Code])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Services_ServiceId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([EmailId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[User_Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_Service_dbo.Services_Service] FOREIGN KEY([Service])
REFERENCES [dbo].[Services] ([Code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Service] CHECK CONSTRAINT [FK_dbo.User_Service_dbo.Services_Service]
GO
ALTER TABLE [dbo].[User_Service]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_Service_dbo.Users_User] FOREIGN KEY([User])
REFERENCES [dbo].[Users] ([EmailId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User_Service] CHECK CONSTRAINT [FK_dbo.User_Service_dbo.Users_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Addresses_Address] FOREIGN KEY([Address])
REFERENCES [dbo].[Addresses] ([AddressId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Addresses_Address]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Roles] ([Code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_Role]
GO
USE [master]
GO
